<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>MultiSweeper Project</title>

        <link href='http://fonts.googleapis.com/css?family=Raleway:%20400,100,800,900,700,600,500,200,300' rel='stylesheet' type='text/css'>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

        <link rel="stylesheet" href="/static/style.css" />
		<style type="text/css">

		</style>

		 	<!-- Notice the URL, this is handled by socket.io on the server automatically, via express -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="/static/jquery-ui.js"></script>

        <!-- Load socket.io client side contents. -->
        <script src="/socket.io/socket.io.js"></script>
        <!-- Load the GUI rendering library code. -->
        <script type="text/javascript" src="lib/dat.gui.min.js"></script>
        <!-- Load the keyboard specific code -->
        <script type="text/javascript" src="lib/keyboard.js"></script>

        <!-- Game code -->
        <!-- Load the common game code. -->
        <script type="text/javascript" src="game.core.js"></script>
        <!-- Finally, Load the game client code. -->
        <script type="text/javascript" src="client.js"></script>

        <script src="/static/script.js"></script>

			<!-- This will create a connection to socket.io, and print the user serverid that we sent from the server side. -->
		<script type="text/javascript">
            //This is all that needs
            //var socket = io.connect('/');
            //Now we can listen for that event
            //socket.on('onconnected', function( data ) {
                //Note that the data is the object we sent from the server, as is. So we can assume its id exists.
            //    console.log( 'Connected successfully to the socket.io server. My server side ID is ' + data.id );
		  	//});
		</script>
	</head>

	<body>
		<canvas id="viewport"> </canvas>
        <div class="chat col-xs-2">
            <div class="channel" style="min-height: 100%;"></div>
        </div>
	</body>
</html>