<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>David Codes</title>
	<link rel="stylesheet" href="static/projects/css/checkers.css">
	<link rel="stylesheet" href="static/projects/css/jquery-ui.css">
</head>

<body>
	<div class='main'>
	  <div>Checkers</div>
	  <div class='victory'></div>
	  <table class='checkerBoard'>
		
	  </table>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="static/projects/js/jquery-ui.js"></script>
	<script src="static/projects/js/checkers.js"></script>
</body>
</html>